@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

h1 {
    font-family: 'Tourney', cursive;
    font-size: 35px;
}
main {
    padding-top: 100px;
}
.my-card, .my-row {
    margin-bottom: 20px;
}
