@import url('https://fonts.googleapis.com/css2?family=Tourney&display=swap');

h1 {
    font-family: 'Tourney', cursive;
    font-size: 35px;
}
main {
    padding-top: 100px;
}
.product-images {
    max-height: 200px;
}