{% extends 'base.html' %}

{% block content %}

<div class="row my-row">
    <div class="col-12 col-md-6 justify-content-center">
        <div class="sort-select-wrapper w-50">
            <form method="POST" action="{% url 'products_view' %}" id="sort_type" name="sort_type">
                {% csrf_token %}
                <select name="sort-selector" id="sort-selector" class="form-select">
                    <option value="name_asc" {% if sort_type == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                    <option value="name_desc" {% if sort_type == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                    <option value="price_asc" {% if sort_type == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                    <option value="price_desc"{% if sort_type == 'price_desc' %}selected{% endif %}>Price (high to low)</option>                   
                </select>
                <button class="btn btn-info btn-sm">Sort</button>
            </form>           
        </div>
    </div>
</div>


<div class="row">
    {% for data in from_database %}
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 d-flex">
        <div class="card my-card" style="width: 18rem;">
            <img src="{{ data.image.url }}" class="product-images" alt="{{ data.title }}">
            <div class="card-body bg-light">
              <h5 class="card-title">{{ data.title }}</h5>
              <h6>{{ data.category.friendly_name }}</h6>
              <p class="card-text">£{{ data.price }}</p>
              <a href="{% url 'product_detail' data.id %}" class="btn btn-primary">View Details</a>
            </div>
        </div>
    </div>    
    {% endfor %}
</div>
    
{% endblock %}